/* Your app styles here */
.navbar {
  background-color: #298ccf;
  color: #ffffff;

}

:root {
  --f7-theme-color: #298ccf;
  /* --f7-theme-color-shade: #298ccf;
  --f7-theme-color-tint: #ff2929;
  --f7-theme-color-rgb: 255, 0, 0; */
}