/* Your app styles here */
.navbar {
  background-color: #298ccf;
  color: #ffffff;

}


/* @media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  .navbar {
    height: calc(constant(safe-area-inset-bottom) + 22px) !important;
    height: calc(env(safe-area-inset-bottom) + 22px) !important;
    left: 0;
    bottom: 0;
  }
  .ios .navbar-inner {
    height: 100%;
    padding-top: 11px;
  }
  html.with-statusbar.device-ios .framework7-root, html.with-statusbar.ios:not(.device-ios):not(.device-android) .framework7-root { padding-top: 0;}
  html.with-statusbar .statusbar {display: none;}
}
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  html.with-statusbar.device-ios .panel, html.with-statusbar.ios:not(.device-ios):not(.device-android) .panel {
    height: 100%;
    top:0;
  }
  html.with-statusbar.device-ios .panel, html.with-statusbar.ios:not(.device-ios):not(.device-android) .panel .page {
    padding-top: 22px;
  }
  .navbar {
    height: calc(constant(safe-area-inset-bottom) + 44px) !important;
    height: calc(env(safe-area-inset-bottom) + 44px) !important;
    left: 0;
    bottom: 0;
  }
  .ios .navbar-inner {
    height: 100%;
    padding-top: 33px;
  }
  html.with-statusbar.device-ios .framework7-root, html.with-statusbar.ios:not(.device-ios):not(.device-android) .framework7-root { padding-top: 0;}
  html.with-statusbar .statusbar {display: none;}
  .page-content {
    padding-top: 55px !important;
  }
} */